html{
  height: 100%;
  width: 100%;
}
body{
  /*margin-top: 55px;*/
  height: 100%;
  font-family: 'Oswald', sans-serif !important;
  /*margin-bottom: 60px;*/
}

section{
  display: flex;
  min-height: -webkit-fill-available;
  flex-direction: column;
  padding-bottom: 59px;
}

section p, section h1, section h2, section small{
  padding-left: 1rem;
  padding-right: 1rem;
}

a, .nav-item a, .footer a{
  transition: text-shadow 0.1s linear !important;
  transition: color 0.1s linear;
}

a:hover, .nav-item a:hover, .footer a:hover{
  text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

section a:link{
  color: rgba(0,0,0,0.5);
}

section a:visited{
  color: rgba(0,0,0,0.5);
}

section a:hover{
  color: rgba(0,0,0,0.75);
  text-decoration: none;
}

aside{
  flex: 1;
  background-color: #aaa;
  order: 2;
  transition: box-shadow 0.1s linear;
}

aside:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

article{
  flex: 4;
  order: 1;
}

.front-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.article-main{
  flex: 3;
  order: 1;
  object-fit: contain;
}

.article-open{
  object-fit: contain;
}

.article-main h1, h4, .article-open h1{
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.article-open{
  object-fit: contain;
  text-align: left;
  width: 100%;
  margin: auto;
}

.article-side{
  flex: 2;
  order: 2;
  object-fit: contain;
}

.article-main img, .article-open img, .article-side img{
  width: 100%;
}

.article-side img{
  width: 100%;
}

.article-side h2, h5{
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

aside h2{
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

article h1, article h2{
  text-align: center;
  width: 80%;
  margin: auto;
}

.heading{
  text-align: center;
  width: 90%;
  margin: auto;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.article-sidebar{
  width: 90%;
  overflow: auto;
  margin: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.article-sidebar img{
  object-fit: contain;
  width: 100%;
  height: auto;
  transition: box-shadow 0.1s linear;
}

.image{
  width: 50%;
  padding-right: 1rem;
  object-fit: contain;
  overflow: auto;
  float: left;
}

.article-sidebar img:hover{
  box-shadow: 0px 0px 5px rgba(0.0,0.0,0.0,0.5);
}

.article-comments{
  width: 100%;
  padding-top: 1rem;
  margin: auto;
}

.article-open small{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.comment{
  width: 100%;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: black;
  padding-right: 1rem;
}
.reply{
  padding-left: 1rem;
  margin-left: 1rem;
}

#comment-form{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.comment small{
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Desktop/Large Screens */
@media only screen and (min-width: 600px){
  .heading{
    width: 80%;
  }
  .front-page{
    flex-direction: row;
    width: 80%;
  }
  .article-main img, .article-open img{
    width: 50%;
    float: left;
    padding-right: 1rem;
  }
  .article-comments{
    width: 80%;
  }
  
  .article-open{
    width: 80%;
  }
  .article-main{
    padding-right: 1rem;
  }
  .article-side{
    padding-left: 1rem;
  }
  .article-side img{
    width: 50%;
    float: left;
    padding-right: 1rem;
  }
  section{
    flex-direction: row;
  }
  aside{
    min-height: 100%;
    order: 1;
    border-right-style: solid;
    border-right-width: 1px;
  }
  article{
    order: 2;
  }
}

.navbar{
  transition: box-shadow 0.1s linear;
}
.navbar:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  transition: box-shadow 0.1s linear;
  padding-bottom: 8px;
}
.footer:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.8);
}

.footer a:link{
  color: rgba(255,255,255,0.5);
}

.footer a:visited{
  color: rgba(255,255,255,0.5);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#container{
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.spacer{
  padding-bottom: 1rem;
}


