html{
  height: 100%;
  width: 100%;
}
body{
  margin-top: 55px;
  height: 100%;
  font-family: 'Oswald', sans-serif !important;
  margin-bottom: 60px;
}

section{
  display: flex;
  height: 100%;
  flex-direction: column;
}

section p, section h1, section h2{
  padding-left: 1rem;
}

a, .nav-itme a, .footer a{
  transition: text-shadow 0.1s linear !important;
}

a:hover, .nav-item a:hover, .footer a:hover{
  text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

section a:link{
  color: rgba(0,0,0,0.5);
}

section a:visited{
  color: rgba(0,0,0,0.5);
}

section a:hover{
  color: rgba(0,0,0,0.75);
  text-decoration: none;
}

aside{
  flex: 1;
  background-color: #aaa;
  order: 2;
  transition: box-shadow 0.1s linear;
}

aside:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

article{
  flex: 4;
  order: 1;
}

article h1, article h2{
  text-align: center;
  width: 100%;
  margin: auto;
}

.heading{
  text-align: center;
  width: 100%
  margin: auto;
}

.article-sidebar{
  width: 100%;
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.article-sidebar img{
  object-fit: contain;
  width: 50%;
  height: auto;
  float: left;
  transition: box-shadow 0.1s linear;
}

.image a{
  width: 50%;
  height: auto;
  float: left;
  margin-right: 1rem;
}

.article-sidebar img:hover{
  box-shadow: 0px 0px 5px rgba(0.0,0.0,0.0,0.5);
}

/* Desktop/Large Screens */
@media only screen and (min-width: 600px){
  section{
    flex-direction: row;
  }
  aside{
    height: 100%;
    max-width: 20%;
    order: 1;
    border-right-style: solid;
    border-right-width: 1px;
  }
  article{
    order: 2;
  }
}

.navbar{
  transition: box-shadow 0.1s linear;
}
.navbar:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  transition: box-shadow 0.1s linear;
}
.footer:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.footer a:link{
  color: rgba(255,255,255,0.5);
}

.footer a:visited{
  color: rgba(255,255,255,0.5);
}

.footer a:hover{
  color: rgba(255,255,255,0.8);
}
